body {
    margin: 0px;
}
body {

    margin: 0px;
    font-family: Inter, sans-serif;
    font-weight: normal;
    color: rgb(42, 45, 52);
    min-height: 100%;
    font-size: 14px;
    overflow: auto;
    scroll-behavior: smooth;
}

html {
    line-height: 1.15;
    text-size-adjust: 100%;
}
@media (max-width: 768px){
    .General #_next .WrapperEventDetail .Container_FlexColumn {
        height: 100%;
    }
}
.General #_next .WrapperEventDetail .Container_FlexColumn {
    width: 100%;
    min-height: 150vh;
    background: rgb(245, 247, 252);
}
.General #_next .WrapperEventDetail .Container_FlexColumn {
    display: flex;
    flex-direction: column;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main {
    margin-left: 0px;
}
@media (max-width: 768px){
    .General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main {
        margin: 152px 0px 0px;
        padding: 0px;
    }
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper {
    overflow-x: hidden;
}
main {
    display: block;
}
*, ::before, ::after {
    box-sizing: border-box;
}

.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper .style_BannerWrapper {
    width: 100%;
    height: max-content;
    padding-block: 2rem;
    padding-inline: 1rem;
    background: linear-gradient(rgb(245, 247, 252) 48.04%, rgb(245, 247, 252) 100%);
    color: rgb(245, 247, 252);
}
@media (max-width: 1024px){
    .General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper .style_BannerWrapper {
        height: max-content;
        padding-block: 0px;
        padding-inline: 0px;
    }
}

.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper .style_BannerWrapper .content-desktop {
    width: 100%;
    height: 100%;
    padding: 0px;
    color: white;
    border-radius: 1.5rem;
    background: linear-gradient(rgb(39, 39, 42) 48.04%, rgb(0, 0, 0) 100%);
    overflow: hidden;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper .style_BannerWrapper .content-desktop {
    box-sizing: border-box;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    background-color: rgb(56, 56, 61);
    position: relative;
    padding: 1.875rem;
}
/* .General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper #circle1 {
    top: 0px;
    right: 0px;
    transform: translate(1.875rem, -1.875rem);
    background-color: rgb(39, 39, 42);
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper #circle2 {
    bottom: 0px;
    right: 0px;
    transform: translate(1.875rem, 1.875rem);
    background-color: rgb(39, 39, 42);
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .circle {
    position: absolute;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    z-index: 12;
}

.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper #vertical-dashed {
    position: absolute;
    right: 0px;
    bottom: 4px;
    z-index: 10;
    transform: translate(2px, -4.4rem); 
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper #vertical-dashed-2 {
    position: absolute;
    right: 0px;
    top: 100%;
    z-index: 10;
    transform: translate(2px, -4.4rem);
} */
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .info {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    padding-block: 1rem;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text div {
    width: 100%;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text .info #title {
    font-size: 16px;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
p {
    margin: 0px;
}
b, strong {
    font-weight: bolder;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .info #date {
    margin-top: 1rem;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .info #date .icon path {
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .info #date #date-text {
    text-transform: capitalize;
    padding-left: 0.5rem;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .info span {
    color: rgb(45, 194, 117);
    font-weight: bold;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .info #more-days {
    margin-top: 0.5rem;
    margin-left: 1.5rem;
    border: 1px solid rgb(255, 255, 255);
    width: max-content;
    padding: 0.25rem;
    cursor: pointer;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a {
    background-color: transparent;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .info #venue {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 1rem;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .info #location-icon {
    transform: scale(0.65) translateX(-0.4rem);
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .info .icon path {
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 255, 255);
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .info #address {
    font-size: 0.8em;
    color: rgb(196, 196, 207);
    margin-left: 1.5rem;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .price {
    border-top: 1px solid rgb(196, 196, 207);
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .price #ticket-price {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.5rem;
    padding-block: 1rem;
    font-size: 16px;
    font-weight: bold;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .price #ticket-price #price-value {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 0.5rem;
    color: rgb(45, 194, 117);
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .price #ticket-price #price-value svg {
    margin-left: 0.5rem;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .text-wrapper .text .price .style_Buynow {
    width: 100%;
    padding-block: 0.5rem;
    border-radius: 0.25rem;
    font-weight: bold;
    transition: background-color 0.4s ease-in-out 0s;
    color: rgb(255, 255, 255);
    background-color: rgb(45, 194, 117);
}
button {
    background-color: transparent;
    color: inherit;
    border-width: 0px;
    padding: 0px;
    cursor: pointer;
}
button, [type="button"], [type="reset"], [type="submit"] {
    appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0px;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
img {
    border-style: none;
}
.General #_next .WrapperEventDetail .Container_FlexColumn .Layout_Main .style_EventDetailWrapper #banner .content-desktop .img-wrapper {
    display: flex;
        flex-grow: 2;
        flex-shrink: 0;
        flex-basis: 0%;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(rgb(39, 39, 42) 48.04%, rgb(0, 0, 0) 100%);
}

