.code-input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(30, 30, 30);;
}

.code-input-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(255, 69, 0, 0.5);
    background-color: rgb(30, 30, 30);;
}

.code-input-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
}

.code-input-form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: orangered;
    color: white;
    cursor: pointer;
}

.code-input-form button:hover {
    background-color: rgb(69, 69, 69);
}

.video-box {
  width: 640px;
  height: 360px;
  margin-top: 20px;
  background-color: #000;
  opacity: 0;
  animation: zoomIn 0.25s forwards;
}

@keyframes zoomIn {
    0% {
        transform: translateY(-70%) scale(0);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}