.register-banner {
    background-color: orangered;
    max-width: 100vw;
    margin: auto;
    position: relative;
    box-sizing: border-box;
    line-height: 1.15;
    text-size-adjust: 100%;
    height: 124px;
}

.span-sign-up {
    position: absolute;
    bottom: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: rgb(255, 255, 255);
    line-height: 32px;
    left: 56px;
    margin-top: 24px;
}