.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.container-sidebar-hidden {
  height: 100vh;
}

.container-sidebar {
  position: fixed;
  width: 20vw;
  height: 100vh;
}

.nav-link.active {
  background-color: orangered !important;
}
