.footer {
    background-color: #3b3f43;
    color: #bdc3c7;
    padding: 20px 0;
    margin-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 20px;
}

.footer-section h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ecf0f1;
    font-size: 20px;
}

.footer-section p {
    margin: 5px 0;
}

.terms:hover {
    text-decoration: underline;
    cursor: pointer;
}

.footer-section .hotline {
    font-size: 1.5em;
    color: orangered;
}

.footer-section a {
    color: #bdc3c7;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.email-form {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px;
}

.email-form input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin: 0 10px 0 0;
    max-width: 250px;
    flex: 1;
    height: 40px;
    font-size: 17px;
}

.email-form button {
    padding: 12px;
    border: none;
    background-color: orangered;
    color: white;
    cursor: pointer;
    border-radius: 3px;
}

.email-form button:hover {
    background-color: rgb(69, 69, 69);
}