body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(30, 30, 30);
}

.indicate {
    padding: 20px;
    font-size: 30px;
    color: white;
    background-color: #555;
    font-weight: bold;
    margin-bottom: 0px;
}

.noCard {
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / span 2;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.loadingImage {
    width: 200px;
    height: 200px;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #1a1a1a;
}

.card {
    min-width: 25%;
    background-color: transparent;
    border-radius: 8px;
    border-color: transparent;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.cardContent {
    padding: 16px;
}

.cardContent h2 {
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
    height: 2.4em;
    color: orangered;
    font-weight: bold;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardContent p {
    margin: 8px 0;
    font-size: 16px;
    color: #cccccc;
}

.cardContent .price {
    color: #2ecc71;
    font-size: 18px;
    font-weight: bold;
}

.cardContent .date-category {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cardContent .date {
    font-size: 14px;
    color: #bdc3c7;
}

.cardContent .category {
    font-size: 14px;
    color: #bdc3c7;
}

@media (max-width: 1200px) {
    .cardList {
        grid-template-columns: repeat(3, 1fr);
    }
    .noCard {
        grid-column: 2 / span 1;
    }
}

@media (max-width: 900px) {
    .cardList {
        grid-template-columns: repeat(2, 1fr);
    }
    .noCard {
        grid-column: 1 / span 1;
    }
}

@media (max-width: 600px) {
    .cardList {
        grid-template-columns: repeat(1, 1fr);
    }
    .noCard {
        grid-column: 1 / span 1;
    }
}