.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.d-flex {
  height: 100%;
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
}

.d-flex.sidebar-close {
  height: 100%;
  width: 100%;
}

.sidebar-open {
  height: 100%;
  width: 100%;
}

.nav-item-close {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.nav-item-open {
  margin-bottom: 5px;
}

.me-2-close {
  margin-right: 0 !important;
}

.me-2-open {
  margin-right: 0.5rem !important;
}

.nav-link.active {
  background-color: orangered !important;
}
