.signin-form {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.signin-label {
  display: block;
  font-weight: bold;
  position: relative;
  margin-bottom: 5px;
  font-size: 13px;
}

.input-username,
.input-password {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-username:focus,
.input-password:focus {
  border-color: orangered;
  outline: none;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 5px;
  top: 65%;
  transform: translateY(-51%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1em;
  color: gray;
}

.signin-submit {
  width: 100%;
  padding: 10px;
  margin-top: 17px;
  background-color: orangered;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.signin-submit:hover {
  background-color: #cc1f00;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: orangered;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
